* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #79addc; }
  .hero-wrapper .hero {
    font-family: "Lato", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero-wrapper .callout {
    text-align: center;
    margin-top: 70px;
    width: 500px; }
    .hero-wrapper .callout h1 {
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-size: 60px; }
    .hero-wrapper .callout .l-imp {
      color: #79addc;
      margin-bottom: 25px;
      font-style: italic;
      font-size: 20px; }
    .hero-wrapper .callout .desc {
      color: #ffffff;
      margin-bottom: 20px;
      font-size: 20px; }
    .hero-wrapper .callout .hero-button {
      font-family: "Lato", sans-serif;
      font-size: 15px;
      padding: 6px 25px;
      background-color: #79addc;
      color: white;
      text-transform: uppercase;
      text-decoration: none; }

nav {
  width: 980px;
  height: 92.5px;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Lato", sans-serif; }
  nav .logo {
    width: 92px;
    height: 42px; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: lowercase; }
    nav .links a {
      color: #ffffff;
      font-size: 15px;
      text-decoration: none; }
    nav .links span {
      font-family: none;
      color: #79addc;
      font-size: 20px;
      margin: 0 10px; }

.flight-list {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  height: 310px;
  width: 100%; }
  .flight-list .flight-container {
    width: 800px;
    margin: 0 auto;
    margin-top: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .flight-list .flight-container .country-price-isreal {
      margin-top: -50px;
      width: 240px;
      height: 300px;
      background-color: #000000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-01.jpg");
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .flight-list .flight-container .country-price-isreal .price {
        margin-bottom: 40px;
        font-size: 30px; }
      .flight-list .flight-container .country-price-isreal .country {
        text-transform: uppercase;
        margin-bottom: 0px;
        font-size: 60px; }
      .flight-list .flight-container .country-price-isreal .flight-button {
        font-size: 15px;
        padding: 6px 25px;
        background-color: #79addc;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px;
        font-family: "Lato", sans-serif; }
    .flight-list .flight-container .country-price-usa {
      margin-top: -50px;
      width: 240px;
      height: 300px;
      background-color: #000000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-02.jpg");
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-02.jpg");
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-02.jpg");
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-02.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .flight-list .flight-container .country-price-usa .price {
        margin-bottom: 40px;
        font-size: 30px; }
      .flight-list .flight-container .country-price-usa .country {
        text-transform: uppercase;
        margin-bottom: 0px;
        font-size: 60px; }
      .flight-list .flight-container .country-price-usa .flight-button {
        font-size: 15px;
        padding: 6px 25px;
        background-color: #79addc;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px; }
    .flight-list .flight-container .country-price-australia {
      margin-top: -50px;
      width: 240px;
      height: 300px;
      background-color: #000000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-03.jpg");
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-03.jpg");
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-03.jpg");
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-03.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .flight-list .flight-container .country-price-australia .price {
        margin-bottom: 40px;
        font-size: 30px; }
      .flight-list .flight-container .country-price-australia .country {
        text-transform: uppercase;
        margin-bottom: 18px;
        font-size: 40px; }
      .flight-list .flight-container .country-price-australia .flight-button {
        font-size: 15px;
        padding: 6px 25px;
        background-color: #79addc;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px; }

.inputs {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .inputs .input-container {
    width: 1280px;
    margin: 0 auto;
    padding: 50px 40px;
    width: 900px;
    /*.dropDownContainer {
      width: 200px;
      display: flex;
      justify-content: center;
    }*/ }
    .inputs .input-container .title {
      font-family: "Roboto", sans-serif;
      font-size: 60px;
      color: #000000;
      margin-bottom: 20px;
      margin-top: -20px; }
    .inputs .input-container .formContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 20px; }
    .inputs .input-container .formEntry {
      padding: 10px;
      width: 345px;
      height: 60px;
      border-color: #79addc;
      border-width: 0.75px; }
    .inputs .input-container .formEntry2 {
      padding: 10px;
      border-color: #79addc;
      border-width: 0.75px;
      width: 450px;
      height: 60px; }
    .inputs .input-container #calenderImage {
      background: white url("../images/avatars/calender.JPG") right no-repeat;
      padding-right: 25px; }
    .inputs .input-container .formP {
      padding: 10px;
      display: inline;
      border-color: #79addc;
      border-width: 0.75px; }
      .inputs .input-container .formP p {
        margin-top: 20px; }
    .inputs .input-container .formCheckEntry {
      padding: 20px;
      border-color: #79addc;
      border-width: 0.75px;
      width: 700px;
      height: 60px;
      display: inline;
      -webkit-box-pack: right;
      -ms-flex-pack: right;
      justify-content: right; }
    .inputs .input-container .dropDown {
      border-color: #79addc;
      width: 105px;
      height: 60px;
      display: inline;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px; }
    .inputs .input-container .commentEntry {
      padding: 10px;
      width: 820px;
      height: 190px;
      display: inline;
      padding-bottom: 20px;
      border-color: #79addc;
      border-width: 0.75px; }
    .inputs .input-container .buttonContainer {
      padding-bottom: 40px; }
    .inputs .input-container .submitButton {
      font-size: 15px;
      width: 815px;
      padding: 6px 375px;
      background-color: #79addc;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 20px; }

.footer-wrapper {
  width: 100%;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-wrapper .footer {
    margin: 0 auto;
    width: 980px;
    height: 92.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Lato", sans-serif; }
    .footer-wrapper .footer .logo {
      width: 92px;
      height: 42px; }
    .footer-wrapper .footer .copyright {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-transform: lowercase;
      color: #ffffff;
      font-size: 12px; }
    .footer-wrapper .footer .avatarLinks {
      width: 110px;
      height: 30px;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .footer-wrapper .footer .avatar {
      width: 30px;
      height: 30px; }
