* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: rgba(121, 173, 220, 0.5); }
  .hero-wrapper .hero {
    font-family: "Amatic SC", cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero-wrapper .callout {
    text-align: center;
    margin-top: 70px;
    width: 500px; }
    .hero-wrapper .callout h1 {
      color: #ffffff;
      font-family: "Amatic SC", cursive;
      font-size: 60px; }
    .hero-wrapper .callout .l-imp {
      color: #79addc;
      margin-bottom: 25px;
      font-style: italic;
      font-size: 20px; }
    .hero-wrapper .callout .desc {
      color: #ffffff;
      margin-bottom: 20px;
      font-size: 20px; }
    .hero-wrapper .callout .hero-button {
      font-size: 15px;
      padding: 6px 25px;
      background-color: #79addc;
      color: white;
      text-transform: uppercase;
      text-decoration: none; }

nav {
  width: 980px;
  height: 92.5px;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Amatic SC", cursive; }
  nav .logo {
    width: 92px;
    height: 42px; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: lowercase; }
    nav .links a {
      color: #ffffff;
      font-size: 15px;
      text-decoration: none; }
    nav .links span {
      font-family: none;
      color: #79addc;
      font-size: 20px;
      margin: 0 10px; }
