//this is the styling for the client quotes section.
.blog-section-container {
  width: 100%;
  min-height: 250px;
  padding-bottom: 100px;
  //background-color: $blue;
  @include center-content();

  .blog-section-holder {
    font-family: $lato;
    display: flex;
    flex-direction: column;
    align-items: left;
    @include center-content();
    width: 80%;
    height: 100%;

    h1 {
      color: $black;
      font-family: $roboto;
      font-size: 30px;
      text-transform: uppercase;
    }

    .line {
      width: 75px;
      height: 2px;
      background-color: $black;
      margin-bottom: 20px;
      margin-top: -20px;
    }

    .blog-container {
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-top: 70px;
      min-height: 400px;
      width: 100%;
      display: flex;
      flex-direction: row;

      .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 60px;
        height: 60px;
        background-color: $blue;

        .date-number {
          font-size: 22px;
          font-weight: bold;
        }

        .date-month {
          font-size: 12px;
        }
      }

      .pic-info-container {
        width: 900px;
        min-height: 260px;

        .pic {
          width: 900px;
          height: 260px;
          background-image: url("../images/blog.jpg");

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .infoText {
          width: 450px;
          min-height: 150px;
          text-align: left;
          justify-content: left;

          h1 {
            padding-top: 20px;
            font-size: 15px;
            font-family: $roboto;
          }

          h2 {
            //padding-top: 20px;
            font-size: 15px;
            font-family: $roboto;
            color: $blue;
          }
        }
      }
    }
  }
}

@media (max-width: 1090px) {
  .blog-section-container {
    .blog-section-holder {
      .blog-container {
        flex-direction: column;
        min-height: 200px;
        min-width: 260px;

        .pic-info-container {
          padding-top: 10px;
          flex-direction: column;
          .pic {
            max-width: 50%;
          }
        }
      }
    }
  }
}
