//styling for the section on the page with the 3 boxes containing flight list information(place and price)
.flight-list {
  font-family: $roboto;
  color: $white;
  min-height: 310px;
  // width: 100%;

  .flight-container {
    @include center-content();
    //margin-top: 10;
    display: flex;
    justify-content: space-between;
    //padding: 50px 40px;
    width: 900px;

    //flight details for isreal
    .country-price-isreal {
      margin-top: -50px;
      width: 240px;
      height: 305px;
      background-color: $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-image: linear-gradient(
          to right,
          rgba($black, 0.4),
          rgba($black, 0.4)
        ),
        url("../images/tour/tour-01.jpg");

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .price {
        margin-bottom: 40px;
        font-size: 30px;
      }

      .country {
        text-transform: uppercase;
        margin-bottom: 0px;
        font-size: 60px;
      }

      .flight-button {
        font-size: 15px;
        padding: 6px 25px;
        background-color: $blue;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px;
        font-family: $lato;
      }
    }

    //flight details for usa
    .country-price-usa {
      margin-top: -50px;
      width: 240px;
      height: 305;
      background-color: $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;

      background-image: linear-gradient(
          to right,
          rgba($black, 0.4),
          rgba($black, 0.4)
        ),
        url("../images/tour/tour-02.jpg");

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .price {
        margin-bottom: 40px;
        font-size: 30px;
      }

      .country {
        text-transform: uppercase;
        margin-bottom: 0px;
        font-size: 60px;
      }

      .flight-button {
        font-size: 15px;
        padding: 6px 25px;
        background-color: $blue;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px;
      }
    }

    //flight details for australia
    .country-price-australia {
      margin-top: -50px;
      width: 240px;
      height: 305;
      background-color: $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-image: linear-gradient(
          to right,
          rgba($black, 0.4),
          rgba($black, 0.4)
        ),
        url("../images/tour/tour-03.jpg");

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .price {
        margin-bottom: 40px;
        font-size: 30px;
      }

      .country {
        text-transform: uppercase;
        margin-bottom: 18px;
        font-size: 40px;
      }

      .flight-button {
        font-size: 15px;
        padding: 6px 25px;
        background-color: $blue;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 1090px) {
  .flight-list {
    .flight-container {
      flex-direction: column;
      min-height: 1000px;
      //justify-content: space-around;
      margin-left: 30%;

      .country-price-australia,
      .country-price-isreal,
      .country-price-usa {
        height: 305px;
      }
    }
  }
}
