//this is the styling for the hero section.
.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: $blue;

  .hero {
    font-family: $lato;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include center-content();
    max-width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url("../images/hero.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .callout {
      //@include center-content();
      text-align: center;
      margin-top: 70px;
      width: 500px;
      min-height: 200px;

      h1 {
        color: $white;
        font-family: $roboto;
        font-size: 60px;
      }

      .desc {
        color: $white;
        margin-bottom: 20px;
        font-size: 20px;
      }

      .hero-button {
        font-family: $lato;
        font-size: 15px;
        padding: 6px 25px;
        background-color: $blue;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
