//this scss file allows you to assign variables to things like fonts and colors so it makes changes easier in the future.
//site colors
$blue: #79addc;
$white: #ffffff;
$black: #000000;
$blue-a: #79aedc8e;
//site fonts
//
$roboto: "Roboto", sans-serif;
//in place of gill sans
$lato: "Lato", sans-serif;
//site sizes
$site-full-width: 1280px;
